<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>43.66</real>
		<key>longitude</key>
		<real>-79.39</real>
		<key>name</key>
		<string>UFT</string>
		<key>address</key>
		<string>UFT St</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.66</real>
		<key>longitude</key>
		<real>-79.40000000000001</real>
		<key>name</key>
		<string>Campus A</string>
		<key>address</key>
		<string>123 First St</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.664545</real>
		<key>longitude</key>
		<real>-79.402121112</real>
		<key>name</key>
		<string>Campus B</string>
		<key>address</key>
		<string>123 Second St</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.664565656788</real>
		<key>longitude</key>
		<real>-79.408999889</real>
		<key>name</key>
		<string>Campus C</string>
		<key>address</key>
		<string>123 Third St</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.66989898</real>
		<key>longitude</key>
		<real>-79.41000023092093</real>
		<key>name</key>
		<string>Campus D</string>
		<key>address</key>
		<string>123 Fourth St</string>
	</dict>
</array>
</plist>
